@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*
{
  font-family: poppins,sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  text-decoration: none;
}
:root 
{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:rgb(31, 184, 255);
}

html
{
    font-size: 10px;
    overflow-x: hidden;
}

body 
{ 
  background:var(--bg-color);
  color:var(var(--text-color));
}

h1 {
  font-size: 5rem;
color: white;
}

.logo img{
    width: 20rem; height: auto;
}
.header 
{ position: fixed;
  top:0;
  left: 0;
  width: 100%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  padding-top: 1rem;
}
section {
    padding: 10rem 9% 2rem;
    min-height: 100vh;
}
.home-content 
{ margin-top: 5rem;
  background-image: url("Assets/mainimage.jpg");
  box-shadow: 0 0 1rem var(--main-color);
  height: 75vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;}
.home-content h3:nth-of-type(2){
  margin-bottom: 2rem;
}
  .home-content h3
{ font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  margin-top: 2rem;}
.home-content h1
{   
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
 .home-content p 
{ 
  font-size: 1.6rem;
  text-align: center;
}
 span
{ 
  color: var(--main-color);
  text-shadow: 0 0 .25rem var(--main-color);
}  
 .social-media
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border:.2rem;
  transform: .5s;
  padding: 5rem;
 }
 .social-media a:hover
 {
  background-color: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
 }
.navbar a 
{
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: .3s;    
}
.navbar.active 
{
  display: block;
}
.navbar a:hover, .navbar .active
{
  color:var(--main-color);
}
#menu-item
{
  font-size: 50px;
  color: white;
  z-index: 999;
  display: none;
}
.home-img img
{
  width: 100%; 
  height: auto;
}
.social-media a 
{ 
  display: inline-flex; 
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color:var(--main-color)  ;
  margin: 3rem 1.5rem 3rem 0;
  padding: 1rem;
}
.btn
{
  display: inline-block;
  padding: 1rem 2.8rem;
  background:var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  color: var(--second-bg-color);
  letter-spacing: .1rem;
  font-weight: 600;
}
.btn:hover
{ 
  box-shadow: none;
}
.abtm{
  width: 100%; height: 66vh   ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2rem;
  box-shadow: 0 0 1rem var(--main-color);
  background-image: url("https://thumbs.gfycat.com/GiganticBowedCattle-max-1mb.gif");
  background-size: cover;
}
.aboutme
{ 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.aboutme h1
{
  color: white;
  font-size: 4rem;
}
.photo-spot
{   
  flex: 1;
  display: flex;
  justify-content: flex-end;
  background-image: url("https://github.com/Pedro-Eugelmi/Portfolio/blob/master/Portfolio/Assets/photo.jpg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  box-shadow: 0 0 1rem var(--main-color);
  border-radius: 1rem;
}
  .photo-spot-mobile
{ 
  display: none;
  background-image: url('https://github.com/Pedro-Eugelmi/Portfolio/blob/master/Portfolio/Assets/photo.jpg?raw=true');
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 1rem var(--main-color);
  border-radius: 1rem;
  height: 20rem;
  width: 25%;
}
.aboutme-inf 
{
  height: 66vh;
  flex:2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem;
}
.heading 
{ text-align: center;}
.aboutme-inf h3
{font-size: 2.5rem;
margin-bottom: 2rem;}

.aboutme-inf p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.skills{ 
    padding: 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.skills h2 
{ color: var(--text-color);
  font-size: 4rem;
  margin-bottom: 5rem;
  align-items: center;
}
.skills-container h3 
{ margin-bottom: 2rem; }
.skills-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 4rem;
  color: var(--text-color);

}

.skills-container .skills-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--main-color);
  overflow: hidden;
  display: flex;
  align-items: center;
  flex: 1 1 25rem;
  padding: 4rem;
  background-color: var(--second-bg-color);
  flex-direction: column;
  width: 20rem;
  height: auto;
  line-height: 20px;
}

.skills-box img{
  width:100%;
  height: 100%;
  transition: .5s;
}

    .skills-box .skills-layer
    {position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.2), var(--main-color));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transform: translateY(100%);
    transition: 0.5s;}
    
    .skills-box:hover .skills-layer
    {transform: translateY(0);}
    
    .skills-box h2
    { color: var(--text-color);
    font-size: 3rem;}

  .skills-layer h4 
    { font-size: 2rem;
      color: white;}
      .skills-layer p
      {color: var(--text-color);
      font-size: 1.6rem;
      margin: .3rem 0 1rem;}

      .skills-layer a 
 {display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;}
  .skills-layer a i 
{font-size: 2rem;
 color: var(--second-bg-color);}
  .skills-box:hover img {
      transform: scale(1.1);
    }
  .studying{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 1rem;
      min-width: 20rem;
  }
.studying .bar{
  width: 80%;
  height: 12px;
  background-color: #32394685;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;}
.studying .line 
{ background-color: green;
  height: 8px;
  margin-left: 5px;}
.studying .percentage, .studying span 
{ color: white;
font-size: 2rem;
margin-top: 1rem;}

.portfolio h2 
{ font-size: 5rem;
color: white;
text-align: center;
margin-bottom: 2.5rem;}

.portfolio-container 
{ display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 2rem;}

  .portfolio-container .portfolio-box
  { position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem;
    overflow: hidden;
    display: flex;
    cursor: pointer;
    width: 30rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 39, 41);}
.portfolio-box img{
    width: 100%;
    height:fit-content;
    transition: .5s;
    border-radius: 1rem;}

    .portfolio-box .portfolio-layer
    {position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.2), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translateY(100%);
    transition: 0.5s;}
    .portfolio-box:hover .portfolio-layer
    {transform: translateY(0);}

.portfolio-layer h4 
    { font-size: 3rem;
      color: white;}
      .portfolio-layer p
      {color: var(--text-color);
      font-size: 1.6rem;
      margin: .3rem 0 1rem;}

      .portfolio-layer a 
      {display: inline-flex;
       justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        background: var(--text-color);
        border-radius: 50%;}
    .portfolio-box:hover img {
      transform: scale(1.1);}
    .popUp
    { position: fixed;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      z-index: 9999;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.253) ;
      justify-content: center;
      align-items: center;
      display: none;
      opacity: 0;
      transition: 0.5s;

    }
    .popUp-box
    { width: 70%;
      min-height: 70vh;
      padding: 2rem;
      background-color: var(--second-bg-color);
      border-radius: 2rem;
      box-shadow: 0 0 1rem var(--main-color); 
      display: flex;}
    .popUpLeft
    { display: flex;
      flex-direction: column;
      flex: 1; 
      padding: 2rem;}
    .popUpLeft .siteImg
    { width:100%;
      height: 300px;
      border-radius: 2rem;
      box-shadow: 0 0 1rem rgb(190, 189, 189); 
      min-height: 20rem;
      background-image: url('Assets/EM-BREVE....png');
      background-size:contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: black;}
    .popUpLeft .buttons
    { display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      }
    .popUpLeft .button 
    { background-color: var(--main-color);
      width: auto;
      padding: 1.5rem;
      border-radius: 1rem;
      font-size: 2rem;
      cursor: pointer;
      text-decoration: none;}
      .popUpLeft .buttons a 
      {text-decoration: none;
      }
      .popUpLeft .button:hover
      {box-shadow: 0 0 1rem var(--main-color);}  
      .popUpLeft a
      {color: var(--text-color);
      font-size: 1.5rem;
      text-decoration: underline;
      cursor: pointer;
      margin-top: 1rem;} 

    .popUpRight
    { display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      flex: 1;
      width: 100%;
      padding: 2rem;}

      .popUpRight .content h2 
      { font-size: 3rem;
        color: var(--main-color);
        line-height: 100%;
        word-wrap: break-word;}
    .popUpRight .content p
    { color: var(--text-color);
      font-size: 1.5rem;
      margin-top: 2rem;
      word-wrap: break-word;
      text-align: left;}
      .gitHub
      {margin-top: 2rem;}
    .popUpRight .gitHub a
    { color: var(--main-color);
      font-size: 3rem;
    margin-top: 2rem;}
      .popUpRight .gitHub a:hover{
       font-size: 3.2rem;
       text-shadow: 0 0 1rem;}
    .popUp-box .close 
    { width: 100%;
      height: 20px;
    display: none;
    align-items: center;
    justify-content: flex-end;
    font-size: 6rem;
    color: red;}

    .button 
    { width: 100% ;
     display: flex;
      justify-content: center;
    margin-top: 2rem;}
    .footer 
    {display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    background-color:rgb(24, 24, 26);
  margin-top: 50px;}
    .footer-text
    { font-size: 1.5rem;
      color: var(--text-color);}
      .footer-icontop a:hover{
        transition: 0.25s;
      }
      .footer-icontop a i:hover 
      { box-shadow: 0 0 1rem var(--main-color); }
    .footer-icontop a i 
    { font-size: 2.4rem;
      color: var(--text-color);
      background-color: var(--main-color);
      padding: 0.25rem;
}
.header.sticky{
  border-bottom: .1rem solid rgba(0,0,0,.2);
}
#contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.whatsapp
{ display: flex;
flex-direction: center;
align-items: center;
justify-content: flex-start;
width: 100%;
height: 65vh;
text-align: center;
margin-bottom: 2rem;}
.whatsapp i 
{ color: var(--main-color);
font-size: 5rem;}
#contato h4 
{color: white;
font-size: 3rem;
margin-bottom: 4rem;}
#contato .social-media a,#contato .social-media i
{ font-size: 6rem;
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;}
.wtp-inf 
{ display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100%;}
.wtp-inf h1 
{ font-size: 5rem;
color: white;}
.wtp-inf h3 
{ font-size: 3rem; 
color: white;}
.wtp-nbm 
{ font-size: 7rem;}
.wtp-inf .btn 
{ font-size: 2rem;
margin-top: 1rem;}
.showcasewebsites
{ margin-top: 50px;
  margin-bottom: 50px;}

@media(max-width: 1000px )
{ html { font-size: 45%;}
section {
  padding: 10rem 4% 2rem;
  min-height: 100vh;
}
.popUp-box
{flex-direction: column;}
}
.showcaseTitle{
  display: flex;
  align-items: center;
  justify-content: center;
}
.showcase 
{ margin-top: 50px;}

@media(max-width: 750px )
{
   #menu-item 
  { display: block; 
  }
.navbar{ 
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: var(--bg-color);
  border-top: .1rem solid rgba(0,0,0,.2);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
  display: none;  
}
.navbar a {
  display: block;
  font-size: 2rem;
  margin: 3rem 0;

}
.portfolio-container 
{ display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;}

  .popUpLeft .siteImg 
  { height: 1px;}
    .skills-container {
  grid-template-columns: repeat(2, auto);}
  .skills-layer h4
  { font-size: 2.5rem; }
  .skills-layer p {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .skills-container{
    gap: 4rem;
  }
  .closePC
  { display: none;}
  .popUp-box .close{ 
    display: flex;
    cursor: pointer;
  }
  .close:hover 
  { text-decoration: underline;}
}
.seemore {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

@media(max-width:560px)
{ .btn 
  { font-size: 2rem;} 
  .aboutme-inf h1{ 
    font-size: 5rem;
  }
  .photo-spot{
    display: none;
  }
  .abtm {
    flex-direction: column;
  }
  .portfolio-layer h4
  { font-size: 2.5rem;}
  .social-media 
  {margin: 2rem;}
  .social-media a{
    width: 6rem;
    height: 6rem;
    border: .3rem solid var(--main-color);
    font-size: 3rem;  }
    .popUpRight .content p 
    { font-size: 2rem;}
    .portfolio-container
    { grid-template-columns: repeat(1, 1fr);
    }
    .portfolio-container .portfolio-box
    { width: 40rem;
      height: 40rem;
    }
}

  @media(max-width:450px)
  { html{ 
    font-size: 36%;
  }
   .home-content p, .aboutme-inf p, .service-box p { 
    font-size: 2.2rem;
   }
  .home-content 
  { padding: 1.5rem;}
  .home-content h1{
    line-height: 30px;
  }
  .navbar a
  { font-size: 3rem;}
  .navbar{
    margin-left: 1rem;
  }}
  @Media( max-width: 320px)
  {.abtm 
  { height: 75vh;} 
  .aboutme-inf h1{ 
    font-size: 4rem;
  }
}
